@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 14px;
  }

  * {
    color-scheme: dark;
  }
}

@layer utilities {
  .inset-border {
    @apply relative;

    &:before {
      @apply absolute inset-0;
      content: '';
      z-index: -1;
      margin: -1px;
      border-radius: inherit;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.05) 5%,
        rgba(255, 255, 255, 0.05) 90%,
        rgba(255, 255, 255, 0.2) 100%,
      );
    }
  }
}
